@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}
.mainContainer {
  width: 100%;
  height: 100vh;
}

.buttons {
  display: flex;
  gap: 1rem;
}
.list_polygons {
  padding: 1rem 2rem;
}

.heading {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* .custom_nav{
  height: 70px;
} */

.map_container{
  width: 100%;
  height: calc(100vh - 70px);
}

@media (max-width: 991px){
  .map_container{
    width: 100%;
    height: calc(90vh - 25px);
  }
}
@media (max-width: 768px){
  .map_container{
    width: 100%;
    height: calc(90vh - 10px);
  }
}
@media (max-width: 540px){
  .map_container{
    width: 100%;
    height: 85vh;
  }
}